<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %yellow(%-50thread) | %cyan(%-40logger{40}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.quartz" level="debug"/>
    <logger name="com.bandwidth.voice" level="debug"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
